<%@comedians.each do |comedian|%>
  <div id="<%comedian.id%>">
   <p><img src="<%= comedian.thumb_url%>" alt="Comedian's Face" width="200"></p>
 </div>
  <h2><%= comedian.name %></h2>
  <p><%= comedian.age %></p>
  <p><%= comedian.birthplace %></p>
<% end %>
