<h1> All Comedians </h1>
<% @comedians.each do |comedian|%>
<div id="<%=comedian.id%>" >
<h2><%= comedian.name %></h2>
<p >Age: <%= comedian.age %> Birthplace: <%=comedian.birthplace %>
<% end %>
</div>
